<div class="box rounded comment">
  <span class="comment-text">"<%= comment.text %>"</span>
  <span class="comment-user"> - <%= comment.user.nil? ? "Anonymous" : comment.user.display_name %></span>
  <span class="comment-date"><%= comment.created_at.strftime('at %l:%M%P on %B %d, %Y') %></span>
</div>