<li id="comment-<%= comment.id %>" data-id="<%= comment.id %>" class="comment">
  <p class="comment-text">
    <%= comment.text %> -
    <%= link_to comment.user.display_name, user_path(comment.user) %>
    <span class="comment-icon icon-comment"></span>
  </p>
</li>