(function () {
     var errors = <%= raw @comment.errors.full_messages %>,
         html = "<%=j render partial: 'comments/comment', object: @comment %>",
         $form = $('#comment-form'),
         $comments = $('#comments'),
         $textarea = $form.find('textarea');
     $('.alert').remove();
     if (errors.length) {
          $.each(errors, function (i, m) {
               $form.append('<div class="alert alert-error"><strong>Error!</strong> ' + m + '</div>');
          });
     } else {
          $comments.append(html);
          $textarea.val('');
     }
     $textarea.focus();
})();
