.jumbotron {
  background-image: url(../jumbotron_bg.png);
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-shadow: black 0.05em 0.05em 0.05em;
}