<h1>Users</h1>
<div class="add">
  <%= link_to 'New User', new_user_path, {class: 'btn btn-default'}  %>
</div>

<hr>

<ul class="users list-group list-unstyled">
  <%= render partial: 'user_box', :collection => @users, :as => :user %>
</ul>
