<h1>Users</h1>
<div class="add">
  <%= link_to 'New User', new_user_path, {class: 'btn'}  %>
</div>
<hr>
<div class="users clear">
  <%= render partial: 'user_box', :collection => @users, :as => :user %>
</div>
<hr>