<p id="notice"><%= notice %></p>
<h3><%= @user.display_name %></h3>
<h4>Resources</h4>
<div id="resources">
  <%= render partial: 'resources/resource', :collection => @user.resources, :as => :resource %>
</div>
<hr>
<h4>Comments</h4>
<div id="comments">
  <%= render partial: 'comments/comment', :collection => @user.comments, :as => :comment %>
</div>
<hr>