<h1>Whitespace</h1>

<ul class="whitespace-is">
  <ul>Solving problems</ul>
  <ul>Flat structure</ul>
  <ul>Reusable solutions</ul>
  <ul>Target local</ul>
  <ul>Think global</ul>
</ul>

<div class="row">
  <div class="col-sm-6">
    <div class="well"><%= link_to 'I Have A Problem', '/problem' %></div>
  </div>
  <div class="col-sm-6">
    <div class="well"><%= link_to 'I Want To Help', '/help' %></div>
  </div>
</div>

<div class="row">
    <ul class="projects list-unstyled col-md-12">
      <% @projects.each do |project| %>
        <li class="project well well-sm">
          <%= link_to project.name, project_path(project), {:title => project.description} %>
        </li>
      <% end %>
    </ul>
</div>
