<li class="well well-sm phase">
  <span class="phase-title"><%= link_to phase.name, project_phase_path(phase.project, phase) %></span>
  <span class="phase-description"><%= phase.description %></span>
  <span class="phase-state"><%= phase.state %></span>
</li>