<ol class="breadcrumb">
  <li>Projects</li>
</ol>
<% if can? :create, Project %>
<div class="add">
  <%= link_to 'New Project', new_project_path, {class: 'btn btn-default'} %>
</div>
<% end %>
<hr>
<div class="projects">
  <div class="row">
    <% @projects.each_with_index do |project, index| %>
        <div class="col-md-3">
          <%= render partial: 'project', :object => project %>
        </div>
    <% end %>
  </div>
</div>
