/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */
body {
  padding-top: 60px;
}

h3 > .badge {
  vertical-align: middle;
}

.panel > h3.panel-heading {
  margin-top: 0;
  margin-bottom: 0;
}

.navbar {
  margin-bottom: 0;
}

#whitespace-is {
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
}


.clear:after,
hr:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.thumbnail > img {
  max-width: 50px;
  max-height: 50px;
}

.users {
  li {
    overflow: hidden;
  }
}

.idea {
  .thumbnail > img {
    max-width: 50px;
    max-height: 50px;
  }
}

.idea-votes {
  float:right;
}
.phase-stats {
  float:right;
  img {
    padding-left:3px;
    padding-right:10px;
  }
}

.phases {
  position: relative;

  > .timeline-axis {
    border-left: 4px solid #79dfaf;

    position: absolute;
    left: 0;
    top: 0;

    display: block;
    width: 0;
    height: 100%;
  }

  .phase {
    padding-left: 1.8em;

    hr.phase-separator {     // todo: swap to border-top
      border-top: 1px solid #79dfaf;
      margin-left: -1.6em;
      margin-right: -1.6em;
    }

    h3 {
      position: relative;
      color: #79dfaf;

      > a, > a:link, > a:visited {color: #79dfaf}
      > a:hover, > a:active {color: #999}

      .phase-icon {
        position: absolute;
        top: 0;
        left: -1.5em;

        color: #79dfaf;
        background: white;
      }
    }
  }
}

.ideas {
  position: relative;

  > .timeline-axis {
    border-left: 1px dashed #71ccec;

    position: absolute;
    left: 0;
    top: 0;

    display: block;
    width: 0;
    height: 100%;
  }

  .idea {
    a, a:link, a:visited, a:hover, a:active {color: #999}
    padding-left: 1em;

    h4 {
      position: relative;
      color: #71ccec;

      > a, > a:link, > a:visited {color: #71ccec}
      > a:hover, > a:active {color: #999}

      .idea-icon {
        position: absolute;
        top: 0;
        left: -2.5em;
        color: #71ccec;
        background: white;
        padding-top: 4px;
        margin-top: -4px;
      }
    }
  }
}

.comments {
  position: relative;

  > .timeline-axis {
    border-left: 1px dotted #df7c79;

    position: absolute;
    left: 0;
    top: 0;

    display: block;
    width: 0;
    height: 100%;

    display: none;
  }

  .comment {
    a, a:link, a:visited, a:hover, a:active {color: #999}
    padding-left: 1em;

    p, form {
      position: relative;
      color: #df7c79;

      .comment-icon {
        position: absolute;
        top: 0;
        left: -2.5em;
        color: #df7c79;
        background: white;
        padding-top: 2px;
        padding-bottom: 2px;
      }
    }

    &.create {
      position: relative;

      form {
        .comment-icon {
          top: 0.5em;
          color: #e0e0e0;
        }

        .comment-create-icon {
          left: -1.6em;
          top: 1em;
          background: transparent;
        }
      }
    }
  }
}

.resources {
  position: relative;

  > .timeline-axis {
    border-left: 1px dotted #df7c79;

    position: absolute;
    left: 0;
    top: 0;

    display: block;
    width: 0;
    height: 100%;
  }

  .resource {
    a, a:link, a:visited, a:hover, a:active {color: #999}
    padding-left: 1em;

    h5 {
      position: relative;
      color: rosybrown;

      > a, > a:link, > a:visited {color: rosybrown}
      > a:hover, > a:active {color: #999}

      .resource-icon {
        position: absolute;
        top: 0;
        left: -3.15em;
        color: rosybrown;
        background: white;
        padding-top: 2px;
        margin-top: -2px;
        padding-bottom: 2px;
      }
    }
  }
}