/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */
body {
  padding-top: 60px;
}

h3 > .badge {
  vertical-align: middle;
}

.panel > h3.panel-heading {
  margin-top: 0;
  margin-bottom: 0;
}

#whitespace-is {
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
}

.add {
}

.user {
  .user-name {
    font-weight:bold;
  }
  .user-email {

  }
}
.clear:after,
hr:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.panel > .panel-body:empty {display:none;}

.idea {
  .thumbnail > img {
    max-width: 50px;
    max-height: 50px;
  }

  .comment {
    clear: both;
    overflow: hidden;
  }

  .popover {
    position: relative;
    display: block;
    max-width: 450px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #efefef;

    &.right {
      margin-left: 65px;
      margin-bottom: 4px;

      .arrow {
        border-right-color: #999999;
        border-right-color: rgba(0, 0, 0, 0.11);
      }
    }

    &.left {
      margin-right: 15px;

      .arrow {
        border-left-color: #999999;
        border-left-color: rgba(0, 0, 0, 0.11);
      }
    }

    > .arrow {
      top: 1.5em;
    }

    p {
      margin: 0;
    }
  }
}
