/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */
body {
  padding-top: 60px;
}

h3 > .badge {
  vertical-align: middle;
}

.panel > h3.panel-heading {
  margin-top: 0;
  margin-bottom: 0;
}

.navbar {
  margin-bottom: 0;
}

#whitespace-is {
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
}

.add {
}


.clear:after,
hr:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.panel > .panel-body:empty {display:none;}

.thumbnail > img {
  max-width: 50px;
  max-height: 50px;
}

.users {
  li {
    overflow: hidden;
  }
}

.idea {
  .thumbnail > img {
    max-width: 50px;
    max-height: 50px;
  }
}

.idea-votes {
  float:right;
}
.phase-stats {
  float:right;
  img {
    padding-left:3px;
    padding-right:10px;
  }
}

.phases {
  position: relative;

  > .timeline-axis {
    border-left: 4px solid #a8eacb;

    position: absolute;
    left: 0;
    top: 0;

    display: block;
    width: 0;
    height: 100%;
  }

  .phase {
    padding-left: 1.8em;

    hr.phase-separator {     // todo: swap to border-top
      border-top: 1px solid #a8eacb;
      margin-left: -1.6em;
      margin-right: -1.6em;
    }

    h3 {
      position: relative;
      color: #a8eacb;

      .phase-icon {
        position: absolute;
        top: 0em;
        left: -1.5em;

        color: #a8eacb;
        background: white;
      }
    }
  }
}

.ideas {
  position: relative;

  > .timeline-axis {
    border-left: 1px solid #b6e5f5;

    position: absolute;
    left: 0;
    top: 0;

    display: block;
    width: 0;
    height: 100%;
  }

  .idea {
    padding-left: 1.4em;

    h4 {
      position: relative;

      .idea-icon {
        position: absolute;
        top: 0em;
        left: -1.5em;

        color: #b6e5f5;
        background: white;
      }
    }
  }
}

.comments {
  position: relative;

  > .timeline-axis {
    border-left: 1px dotted #eaaaa8;

    position: absolute;
    left: 0;
    top: 0;

    display: block;
    width: 0;
    height: 100%;
  }

  .comment {
    padding-left: 1.4em;

    p {
      position: relative;
      color: #eaaaa8;

      .comment-icon {
        position: absolute;
        top: 0em;
        left: -1.8em;

        color: #eaaaa8;
        background: white;
      }
    }
  }
}