<ul class="ideas phase-ideas timeline list-unstyled">
  <li class="timeline-axis"></li>
  <%= render partial: 'ideas/idea', :collection => phase.ideas, :as => :idea %>
  <% if phase.started? && !phase.completed? %>
      <%= render partial: 'ideas/add', :locals => {:phase => phase, :idea => Idea.new} %>
  <% end %>
</ul>

<div class="phase-comments"><%= render partial: 'comments/comment', :collection => phase.comments, :as => :comment %></div>
<ul class="resources phase-resources timeline list-unstyled">
  <li class="timeline-axis"></li>
  <%= render partial: 'resources/resource', :collection => phase.resources, :as => :resource %>
</ul>
