<ol class="breadcrumb">
  <li><%= link_to 'Projects', projects_path %></li>
  <li><%= link_to @phase.project.name, project_path(@phase.project) %></li>
  <li class="active"><%= @phase.name %></li>
</ol>

<%= render partial: 'phases/phase', :locals => { :phase => @phase } %>